* {
    font-family: 'Nunito', Verdana, sans-serif;
}

body.login {
    background-color: #34889c;
    background: linear-gradient(to right, #34889c, #4678c8);
}


.bg-login {
    background-image: url('../img/login.svg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}

.contenedor{
    height: 100vh;
}

#main-page {
    background-color: #f8f9fc;
}
.callout-primary {
     border-left-width: 6px;
     border-left-color: #428bca;
}
.callout-success {
    border-left-width: 6px;
    border-left-color: #1cc88a;
}
.callout-info {
    border-left-width: 6px;
    border-left-color: #36b9cc;;

}

/*
img{
    padding-top: 15px;
    width: auto;
    height: auto;
} */

/* Este es para los elementos en general */
.navbar-light .navbar-nav .nav-link {
    color: black;
    }
    /*  Este es para el elemento activo lo puedes omitir si asi deseas */
    .navbar-light .navbar-nav .active>.nav-link  {
     color: black;
    }

li:hover{
    color: #f8f9fc;
}
a:hover{
    color: #f8f9fc;
}

a:active {
    color: #f8f9fc;
}

